*{
    margin: 0;
    padding: 0;
    /* background-color: white; */
    /* cursor: url(https://img.icons8.com/?size=100&id=TdbpMMmYMvER&format=png&color=000000),auto; */
    
}
/* #navbar{
    background-color: #C4A49F;
} */